.notification {
	width: 100%;
	display: flex;
	flex-direction: column;

	> h3 {
		font-size: 14px;
		line-height: 20px;
		font-variation-settings: "wdth" 75, "wght" 400;
		margin: 0 0 8px 0;
		padding: 8px 4px;
		user-select: none;
		transition: all 0.3s ease-out;

		&:hover {
			transform: translateX(4px);
		}
	}

	.content {
		display: flex;
		flex-direction: column;
		gap: 4px;

		.card {
			display: flex;
			padding: 8px;
			border-radius: 12px;
			cursor: pointer;
			transition: all 0.3s ease-out;

			.icon {
				margin-right: 8px;
				width: 24px;
				height: 24px;
				border-radius: 8px;
				display: flex;
				justify-content: center;
				align-items: center;

				i {
					color: #1c1c1c;
				}
			}
			.desc {
				display: flex;
				flex-direction: column;
				transition: all 0.3s ease-out;

				h3 {
					font-size: 14px;
					line-height: 20px;
					font-variation-settings: "wdth" 75, "wght" 400;
					margin: 0;
				}
				p {
					font-size: 12px;
					line-height: 18px;
					font-variation-settings: "wdth" 75, "wght" 400;
					margin: 0;
					color: var(--colorContentSecondary);
					transition: all 0.3s ease-out;
				}
			}

			&:nth-child(2n) {
				.icon {
					background: var(--colorBackgroundAccentEven);
				}
			}
			&:nth-child(2n + 1) {
				.icon {
					background: var(--colorBackgroundAccentOdd);
				}
			}

			&:hover {
				background: var(--colorBackgroundSecondary);
		
				.desc {
					transform: translateX(4px);
					p {
						font-size: 14px;
						line-height: 20px;
						color: var(--colorContentPrimary);
					}
				}
			}
		}
	}
}
