.user {
	position: relative;
	display: flex;
	align-items: center;
	padding: 8px;
	gap: 8px;
	border-radius: 12px;
	cursor: pointer;
	transition: all 0.3s ease-out;

	img {
		width: 24px;
		height: 24px;
		border-radius: 9999px;
		object-fit: cover;
	}

	p {
		font-size: 14px;
		line-height: 20px;
		font-variation-settings: 'wdth' 75, 'wght' 400;
		margin: 0;
		transition: all 0.3s ease-out;
	}

	&:hover {
		background: var(--colorBackgroundTertiary);

		p {
			transform: translateX(4px);
		}
	}
}