@import '../styles/fontAwesome';
@import '../styles/colorSchemes';

html {
	&[data-theme-scheme='system'] {
		@include systemScheme;
	}

	&[data-theme-scheme='light'] {
		@include lightScheme;
	}

	&[data-theme-scheme='dark'] {
		@include darkScheme;
	}

	background: var(--colorBackgroundPrimary);
	scroll-behavior: smooth;

	::selection {
		color: white;
		background: rgb(var(--colorContentTertiary));
	}

	* {
		font-family: var(--inter);
		font-variation-settings: 'wdth' 75, 'wght' 500;
		color: var(--colorContentPrimary);
		box-sizing: border-box;
	}
}