@use '../styles/colorSchemes' as *;

html {
	&[data-theme-scheme='system'] {
		@include systemScheme;
	}

	&[data-theme-scheme='light'] {
		@include lightScheme;
	}

	&[data-theme-scheme='dark'] {
		@include darkScheme;
	}

	--colorBackgroundAccentEven: #E3F5FF; 
	--colorBackgroundAccentOdd: #E5ECF6; 

	position: relative;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background: var(--colorBackgroundPrimary);
	scroll-behavior: smooth;
	transition: background 0.3s ease-out;

	::selection {
		color: white;
		background: var(--colorContentTertiary);
	}

	* {
		font-family: var(--inter);
		font-variation-settings: 'wdth' 75, 'wght' 500;
		color: var(--colorContentPrimary);
		box-sizing: border-box;
	}

	body {
		position: relative;
		width: 100vw;
		height: 100vh;
		overflow: hidden;
		margin: 0;
	}
}