.main {
	position: relative;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	display: flex;

	.nav {
		width: 212px;
		min-width: 212px;
		height: 100%;
		margin-left: -212px;
		background: var(--colorBackgroundPrimary);
		transition: all 0.3s ease-out;
		z-index: 20;
	}
	.content {
		position: relative;
		flex: 1;
		min-width: 416px;
		display: flex;
		flex-direction: column;
		min-height: 100vh;
		border: 1px solid var(--colorContentTertiary);
		border-top: 0px;
		border-bottom: 0px;

		.pageBody {
			position: relative;
			width: 100%;
			display: flex;
			flex-direction: column;
			padding: 24px;
			overflow: auto;

			.topBar {
				height: fit-content;
				display: flex;
				justify-content: space-between;
				padding: 16px 8px;

				> p {
					font-size: 14px;
					line-height: 20px;
					font-variation-settings: "wdth" 75, "wght" 600;
					margin: 0;
					transition: all 0.3s ease-out;
				}
				> div {
					display: flex;
					align-items: center;
					font-size: 12px;
					line-height: 18px;
					font-variation-settings: "wdth" 75, "wght" 400;
					gap: 4px;
					padding: 4px 8px;
					border-radius: 8px;
					transition: all 0.3s ease-out;
					cursor: pointer;

					i {
						margin-top: 3px;
						color: var(--colorContentSecondary);
					}

					&:hover {
						background: var(--colorBackgroundTertiary);
						gap: 8px;
					}
				}
			}
			.trends {
				display: flex;
				gap: 16px;
				flex-wrap: wrap;
				margin-bottom: 28px;
			}
			.charts {
				position: relative;
				display: flex;
				flex-wrap: wrap;
				gap: 28px;
				margin-bottom: 28px;

				.mutualFundsChart {
					position: relative;
					aspect-ratio: 1.85;
					flex: 4;
					background: var(--colorBackgroundSecondary);
					border-radius: 16px;
					padding: 24px;

					.months {
						display: flex;
					}
				}
				.traffic {
					display: flex;
					position: relative;
					min-width: 225px;
					flex: 1;
					padding: 24px;
					border-radius: 16px;
					background: var(--colorBackgroundSecondary);
				}
			}
			.barAndPie {
				position: relative;
				display: flex;
				flex-wrap: wrap;
				gap: 28px;
				margin-bottom: 28px;

				> div {
					position: relative;
					flex: 1;
					background: var(--colorBackgroundSecondary);
					border-radius: 16px;
					padding: 24px;
					min-height: 240px;
				}
			}
			.marketing {
				position: relative;
				display: flex;
				flex-wrap: wrap;
				gap: 28px;

				> div {
					position: relative;
					flex: 1;
					background: var(--colorBackgroundSecondary);
					border-radius: 16px;
					padding: 24px;
					min-height: 240px;
				}
			}
		}
	}
	.sidebar {
		width: 280px;
		min-width: 280px;
		height: 100%;
		display: flex;
		flex-direction: column;
		padding: 16px;
		gap: 16px;
		margin-right: -280px;
		background: var(--colorBackgroundPrimary);
		transition: all 0.3s ease-out;
		z-index: 30;
	}
	.backdrop {
		position: fixed;
		inset: 0 0 0 0;
		background: #111;
		opacity: 0.9;
		z-index: 5;
		cursor: pointer;
	}

	&.navOpen {
		.nav {
			margin-left: 0;
			transform: translateX(0);
		}
	}
	&.sidebarOpen {
		.sidebar {
			margin-right: 0;
			transform: translateX(0);
		}
	}
}

@media (max-width: 970px) {
	.nav {
		position: fixed;
		top: 0;
		left: 0;
		margin-left: 0;
		transform: translateX(-212px);
		transition: all 0.3s ease-out;
	}
	.sidebar {
		position: fixed;
		top: 0;
		right: 0;
		margin-right: 0;
		transform: translateX(280px);
		transition: all 0.3s ease-out;
	}
}

@media (max-width: 475px) {
	.main {
		.content {
			.pageBody {
				padding: 16px 8px;
			}
		}
	}
}