.main {
	position: relative;
	width: 100vw;
	display: flex;

	.nav {
		width: 212px;
		height: 100%;
	}
	.content {
		flex: 1;
		display: flex;
		flex-direction: column;
		min-height: 100vh;
		border: 1px solid var(--colorContentTertiary);
		border-top: 0px;
		border-bottom: 0px;

		.pageBody {
			flex: 1;
		}
	}
	.sidebar {
		width: 280px;
		height: 100%;
		display: flex;
		flex-direction: column;
		padding: 16px;
		gap: 16px;
	}
}