.activities {
	width: 100%;
	display: flex;
	flex-direction: column;

	> h3 {
		font-size: 14px;
		line-height: 20px;
		font-variation-settings: "wdth" 75, "wght" 400;
		margin: 0;
		padding: 8px 4px;
		user-select: none;
		transition: all 0.3s ease-out;

		&:hover {
			transform: translateX(4px);
		}
	}

	.content {
		position: relative;
		display: flex;
		flex-direction: column;
		padding-top: 4px;

		&::before {
			content: '';
			position: absolute;
			top: 8px;
			left: 18px;
			width: 1px;
			height: calc(100% - 24px);
			background: #1C1C1C1A;
		}

		.card {
			display: flex;
			padding: 4px 8px 12px 0;
			z-index: 2;
			border-radius: 12px;
			cursor: pointer;
			transition: all 0.3s ease-out;

			.avatar {
				border: 8px solid var(--colorBackgroundPrimary);
				border-radius: 9999px;
				width: 40px;
				height: 40px;
				transition: all 0.3s ease-out;

				img {
					width: 24px;
					height: 24px;
					border-radius: 9999px;
					object-fit: cover;
				}
			}
			.desc {
				display: flex;
				flex-direction: column;
				margin-top: 8px;
				transition: all 0.3s ease-out;

				h3 {
					font-size: 14px;
					line-height: 20px;
					font-variation-settings: "wdth" 75, "wght" 400;
					margin: 0;
				}
				p {
					font-size: 12px;
					line-height: 18px;
					font-variation-settings: "wdth" 75, "wght" 400;
					margin: 0;
					color: var(--colorContentSecondary);
					transition: all 0.3s ease-out;
				}
			}

			&:hover {
				background: var(--colorBackgroundTertiary);
		
				.avatar {
					border-color: var(--colorBackgroundTertiary);
				}
				.desc {
					transform: translateX(4px);
					p {
						font-size: 14px;
						line-height: 20px;
						color: var(--colorContentPrimary);
					}
				}
			}
		}
	}
}
